<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.resourcegatheritem.mapper.ResourceGatherItemMapper">
    
	<sql id="resourceGatherItemColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.resource_id AS "resourceId",
		a.type AS "type",
		a.description AS "description",
		a.collection_class AS "collectionClass"
	</sql>
	
	<sql id="resourceGatherItemJoins">
		
	</sql>
	
    
	<select id="get" resultType="ResourceGatherItem" >
		SELECT 
			<include refid="resourceGatherItemColumns"/>
		FROM resource_gather_item a
		<include refid="resourceGatherItemJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="ResourceGatherItem" >
		SELECT 
			<include refid="resourceGatherItemColumns"/>
		FROM resource_gather_item a
		<include refid="resourceGatherItemJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>


	<select id="findListByResource" resultType="ResourceGatherItem" >
		SELECT
		<include refid="resourceGatherItemColumns"/>
		FROM resource_gather_item a
		WHERE  a.resource_id = #{resourceId}
	</select>

	
	<select id="findAllList" resultType="ResourceGatherItem" >
		SELECT 
			<include refid="resourceGatherItemColumns"/>
		FROM resource_gather_item a
		<include refid="resourceGatherItemJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO resource_gather_item(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			resource_id,
			type,
			description,
			collection_class
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{resourceId},
			#{type},
			#{description},
			#{collectionClass}
		)
	</insert>
	
	<update id="update">
		UPDATE resource_gather_item SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			resource_id = #{resourceId},
			type = #{type},
			description = #{description},
			collection_class = #{collectionClass}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM resource_gather_item
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE resource_gather_item SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="ResourceGatherItem" statementType="STATEMENT">
		select * FROM resource_gather_item  where ${propertyName} = '${value}'
	</select>
	
</mapper>