<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.resourcephysicinfo.mapper.ResourcePhysicInfoMapper">
    
	<sql id="resourcePhysicInfoColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.building AS "building",
		a.machineroom AS "machineroom",
		a.resource_id AS "resourceId",
		a.cabinet AS "cabinet",
		a.cabinet_no AS "cabinetNo",
		a.cabinet_capacity AS "cabinetCapacity",
		a.locate AS "locate",
		a.datailed_address AS "datailedAddress",
		a.weight AS "weight",
		a.height AS "height",
		a.power_dissipation AS "powerDissipation",
		a.heat AS "heat"
	</sql>
	
	<sql id="resourcePhysicInfoJoins">
		
	</sql>
	
    
	<select id="get" resultType="ResourcePhysicInfo" >
		SELECT 
			<include refid="resourcePhysicInfoColumns"/>
		FROM resource_physic_info a
		<include refid="resourcePhysicInfoJoins"/>
		WHERE a.id = #{id}
	</select>


	<select id="getByResourceId" resultType="ResourcePhysicInfo" >
		SELECT
		<include refid="resourcePhysicInfoColumns"/>
		FROM resource_physic_info a
		<include refid="resourcePhysicInfoJoins"/>
		WHERE a.resource_id = #{resourceId}
	</select>



	<select id="findList" resultType="ResourcePhysicInfo" >
		SELECT 
			<include refid="resourcePhysicInfoColumns"/>
		FROM resource_physic_info a
		<include refid="resourcePhysicInfoJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="resourceId != null and resourceId != ''">
				AND a.resource_id = #{resourceId}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="ResourcePhysicInfo" >
		SELECT 
			<include refid="resourcePhysicInfoColumns"/>
		FROM resource_physic_info a
		<include refid="resourcePhysicInfoJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO resource_physic_info(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			building,
			machineroom,
			resource_id,
			cabinet,
			cabinet_no,
			cabinet_capacity,
			locate,
			datailed_address,
			weight,
			height,
			power_dissipation,
			heat
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{building},
			#{machineroom},
			#{resourceId},
			#{cabinet},
			#{cabinetNo},
			#{cabinetCapacity},
			#{locate},
			#{datailedAddress},
			#{weight},
			#{height},
			#{powerDissipation},
			#{heat}
		)
	</insert>
	
	<update id="update">
		UPDATE resource_physic_info SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			building = #{building},
			machineroom = #{machineroom},
			resource_id = #{resourceId},
			cabinet = #{cabinet},
			cabinet_no = #{cabinetNo},
			cabinet_capacity = #{cabinetCapacity},
			locate = #{locate},
			datailed_address = #{datailedAddress},
			weight = #{weight},
			height = #{height},
			power_dissipation = #{powerDissipation},
			heat = #{heat}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM resource_physic_info
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE resource_physic_info SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="ResourcePhysicInfo" statementType="STATEMENT">
		select * FROM resource_physic_info  where ${propertyName} = '${value}'
	</select>
	
</mapper>